.wrapper {
    display: flex;
}

h4 {
    font-family: 'Roboto Light';
    color: #808080;
    text-align: center;
}

#main-section {
    overflow: hidden; /* Makee this div contain its floated children */
    width: 100%;
}

#sidebar {
    position: relative;
    margin-top: 2em;
    margin-bottom: 1.7em;
    float: left; /* Make this div as wide as its contents */
    min-height: 88vh;
    max-height: 88vh;
    width: 210px;
    padding-right:1em;
    border-right: 0.5px solid #000072;
    overflow-y: auto;
}       

#sidebar p {
    padding-left: 2em;
    padding-right:2em;
}

#sidebar p:hover {
    background-color: #F7A400;
    border-radius: 20px;
}

#sidebar h4 {padding-left: 0.5em;}


#sidebar.view-sidebar {display: none;}

#show-sidebar-button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    color: #000072;
}

@media (max-width: 567px) {
    #sidebar {
        display: none;
    }

    #sidebar.view-sidebar {
        display: block;
    }

    #show-sidebar-button {
        visibility: visible;
        opacity: 1;
    }
}


.cursor-pointer {
    cursor: pointer;
}

#rightside-pannel {
    overflow: hidden; /* Make this div take up the rest of the horizontal space, and no more */
}

#display-message-section {
    margin-top: 2em;
    min-height: 82vh;
    max-height: 82vh;
    overflow-y: auto; /*Make  this section scrolable */
}

#input-area {
    height: 57px;
    margin-left: -1px;
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    bottom: 0;


}



textarea {
    width: 65vw;
    border: 1px solid #000072;
    border-radius: 5px;
    outline: none;
    font-family: 'Roboto Light';
    color: #808080;
    font-size: 16px;
    padding: 5px;
    resize: none;

}



textarea:focus {
    border: 1px solid #F7A400;
    outline: none;
    border-radius: 5px;
    
}

button {
    margin-top: 1px;
    background-color: #000072;
    border: none;
    border-radius: 5px;
    min-height: 5.7vh;
    max-height: 5.7vh;
    font-family: 'Roboto Light';
    color: #FFFF;
}

button:hover {
    background-color: #F7A400;
    color: black;

}



@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.others-msg {
    margin-right:7em;
    margin-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    border-color: #F7A400;
    border-width: 0.5px;
    border-style: solid;
    /* animation */
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.my-msg {
    margin-left:7em;
    margin-right:1em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    border-color: #809FFF;
    border-width: 1px;
    border-style: solid;
    /* animation */
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.system-msg {
    margin-right:7em;
    margin-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    color: #656d78;
    font-size:0.9em;
}

.timestamp {
    color: #656d78;
    font-size:0.7em;
}

.other-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #809FFF;
}

.my-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #F7A400;
}



#get-username {
    display: none !important;
}