.blok_fr{
    float: left; /*Задаем обтекание*/
    font-size: 40px;
    height: 85vh;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Roboto Light';
    overflow: auto;
}

a, #zayav{
    font-family: 'Roboto Light';
	font-size: 16px;
	text-decoration: none;
    float:left;
}
a:link {
	color: #808080;
}
a:visited {
	color: #808080;
}
a:hover {
	color: #000072;
}

input[type="submit"]{
    display: inline-block;
    float: right;
	background: none;
    font-size: 14px;
    color: #000072;
    border: 1px solid none;
    border-radius: 20px;
	cursor: pointer;
    text-align: center;
	outline: none;
	font-family: 'Roboto Light';
	border-style: none;
}

#zagolovki{
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 0;
}

#noti {
    color: #000072;
    font-weight: bold;
    font-family: 'Roboto Light';
    font-size: 16px;
}


