body {
	background:#3E4491;
}
#menu {
	height: inherit;
	width: 120px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	position: fixed;
}



#logo {
	padding-top: 15px;
	width: 50px;
	padding-left: 35px;
}


#profile{
	padding-top: 150px;
	width: 50px;
	padding-left: 35px;
}

.icon{
	padding-top: 15px;
	width: 50px;
	padding-left: 35px;
}


#cont{
	background: #EFEFF0;
	height: 95vh;
	width: 90vw;
	position: absolute;
	left: 120px;
    top: 20px;
	border-radius: 20px;
	overflow: auto;
}

 p {
	color: #808080;
	font-family: 'Roboto Light';
	font-size: 16px;
	
 }


 .notification{
	position: absolute;
    bottom: 50px;
	width: 300px;
    height: 90px;
    line-height: 20px;
	padding-left: 10px;
    background-color: #F7A400;
    border-radius: 5px;
    text-align: left;
    z-index: 11;
	opacity: 75%;
 }


.closebtn {
    margin-right: 3px;
    color: #000072;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
	font-family: 'Roboto Light';
	
}


.closebtn:hover {
    color: #EFEFF0;
}

#noti{
	color: #000072;
	font-weight: bold;
}



 @font-face {
    font-family: 'Roboto Light'; 
    src: url(fonts/Roboto-Light.woff); 
}