.top_bottom {
	border-style: none;
	border-bottom: 1px solid #000072;
	width: 1160px;
	height: 30px;
	background: #EFEFF0 !important;
	outline: none;
	color: #808080;
	font-family: 'Roboto Light';
	font-size: 16px;
	margin-top: 20px;
    margin-left: 20px;
}


#text {
    height: 450px;
    resize: none;
}

input[type="submit"]{
	width: 270px;
	height: 30px;
	background: #000072;
    font-size: 16px;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid none;
    border-radius: 20px;
	cursor: pointer;
	margin-top: 10px;
    margin-left: 20px;
	outline: none;
	font-family: 'Roboto Light';
	border-style: none;
}

select{
	border-style: none;
	border-bottom: 1px solid #000072;
	width: 1160px;
	height: 30px;
	background: #EFEFF0 !important;
	outline: none;
	color: #808080;
	font-family: 'Roboto Light';
	font-size: 16px;
	margin-top: 20px;
    margin-left: 20px;
}


#knop_deadline{
	width: 230px;
	height: 20px;
	background: #000072;
    font-size: 16px;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid none;
    border-radius: 20px;
	cursor: pointer;
	margin-top: 10px;
    margin-left: 20px;
	outline: none;
	font-family: 'Roboto Light';
	border-style: none;
	text-align: center;
}

