.top_bottom {
	border-style: none;
	border-bottom: 1px solid #000072;
	width: 1160px;
	height: 30px;
	background: #EFEFF0 !important;
	outline: none;
	color: #808080;
	font-family: 'Roboto Light';
	font-size: 16px;
	margin-top: 20px;
    margin-left: 20px;
}

input[type="submit"]{
	width: 270px;
	height: 30px;
	background: #000072;
    font-size: 16px;
    padding: 5px 20px;
    color: #fff;
    border-radius: 20px;
	cursor: pointer;
	margin-top: 20px;
	outline: none;
	font-family: 'Roboto Light';
	border-style: none;
	margin-left: 20px;
}



#status{
	border-style: none;
	border-bottom: 1px solid #000072;
	width: 1160px;
	height: 30px;
	background: #EFEFF0 !important;
	outline: none;
	color: #808080;
	font-family: 'Roboto Light';
	font-size: 16px;
	margin-top: 20px;
	margin-left: 20px;
}

#text{
    height: 450px;
	overflow: auto;
}

a {
	color: #808080;
	font-family: 'Roboto Light';
	font-size: 16px;
	text-decoration: none;
	
}

#back{
	width: 150px;
	text-align: center;
	background: #000072;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 20px;
	cursor: pointer;
	outline: none;
	font-family: 'Roboto Light';
	border-style: none;
	margin-left: 20px;
	margin-top: 20px;
	
}

#back > a {
	color: #fff;
}


