#ava {
	float: left;
	width: 260px;
	padding-left: 100px;
	padding-top: 50px;
}

#dano{
	left: 275px;
    position: absolute;
    height: 260px;
    width: 500px;
	padding-top: 70px;
	padding-left: 120px;
}
#name {
	 font-family:'Roboto Light';
	 font-weight: bold;
	 font-size: 32px;
	 margin-top: 5px;
	 padding-left: 15px;
	 color: #000072;
	 margin-bottom: 10px;
}
 
.dano{
	font-family: 'Roboto Light';
	font-size: 15px;
	margin-left: 15px;
 }
 

#set {
	color: #808080;
	font-family: 'Roboto Light';
	font-size: 16px;
	padding-left: 190px;
	padding-top: 310px;
	cursor: pointer;
 }

a {
    text-decoration: none;
}

a:link {
	color: #808080; 
}

a:visited {
	color: #808080;
}

a:hover {
	color: #808080; 
}

a:active {
	color: #808080; 
}


input[type="submit"]{
	width: 140px;
	height: 30px;
	background: #000072;
    font-size: 16px;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid none;
    border-radius: 20px;
	cursor: pointer;
	margin-top: 22px;
    margin-left: 15px;
	outline: none;
	font-family: 'Roboto Light';
	border-style: none;
}

#knop_stydy{
	width: 220px;
}

input[type="password"] {
	border-style: none;
	border-bottom: 1px solid #000072;
	width: 260px;
	height: 30px;
	background: #EFEFF0 !important;
	outline: none;
	color: #808080;
	font-family: 'Roboto Light';
	font-size: 16px;
	margin-top: 10px;
    margin-left: 100px;
}

#knop_pass{
	margin-left: 100px;
	width: 260px;
}

#form_set{
	display: none;
}
 