#one{
    height: 12vh;
    margin: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #3E4491;
    box-shadow: inset 0 0 8px lightgray,
            1px 1px 3px #3E4491;
    

}

#info{
    font-size: 23px;
    font-family: 'Roboto Light';
    float: left;
    line-height: 2em;
}

#stat{
    float: right;
    font-size: 23px;
    font-family: 'Roboto Light';
    line-height: 2em;

}

#noti {
    color: #000072;
    font-weight: bold;
    font-family: 'Roboto Light';
    font-size: 16px;
}

input[type="submit"]{
    float: right;
	width: 120px;
	height: 30px;
	background: #000072;
    font-size: 16px;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid none;
    border-radius: 20px;
	cursor: pointer;
	margin-top: 20px;
    margin-right: 20px;
	outline: none;
	font-family: 'Roboto Light';
	border-style: none;
}

label{
    font-size: 23px;
    font-family: 'Roboto Light';
    color: #808080;
    
}

#forma{
    margin-left: 20px;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

a:link {
	color: #808080; 
}

a:visited {
	color: #808080;
}

a:hover {
	color: #808080; 
}

a:active {
	color: #808080; 
}


.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-top: 20px;
  }
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    float: left;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

.custom-checkbox:checked+label::before {
    border-color: #000072;
    background-color: #000072;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }


