body {
	background-color: #3E4491;	
}


#podlog {
	width: 370px;
	height: 500px;
    background: #EFEFF0;
	box-shadow: 15px 15px #F7A400;
	position: absolute;
    top: 180px;
	left: 800px;
	
}

img {
	height: 350px;
	position: absolute;
    top: 220px;
	left: 150px;
}

input[type="text"] {
	border-style: none;
	border-bottom: 1px solid #000072;
	width: 270px;
	height: 30px;
	background: #EFEFF0 !important;
	outline: none;
	color: #808080;
	font-family: 'Roboto Light';
	font-size: 16px;
	margin-top: 190px;
    margin-left: 50px;
}
input[type="password"] {
	border-style: none;
	border-bottom: 1px solid #000072;
	width: 270px;
	height: 30px;
	background: #EFEFF0 !important;
	outline: none;
	color: #808080;
	font-family: 'Roboto Light';
	font-size: 16px;
	margin-top: 10px;
    margin-left: 50px;
}
input[type="submit"]{
	width: 270px;
	height: 30px;
	background: #000072;
    font-size: 16px;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid none;
    border-radius: 20px;
	cursor: pointer;
	margin-top: 10px;
    margin-left: 50px;
	outline: none;
	font-family: 'Roboto Light';
	border-style: none;
}
a:link {
	color: #808080;
	font-family: 'Roboto Light';
	font-size: 18px;
	text-decoration: none;
}
a:visited {
	color: #808080;
	font-family: 'Roboto Light';
	font-size: 18px;
	text-decoration: none;
}
a:hover {
	color: #808080;
	font-family: 'Roboto Light';
	font-size: 18px;
	text-decoration: none;
}
a {
    margin-left: 97px;
}

.notification_is-danger {
	font-family: 'Roboto Light';
	font-size: 12px;
	margin-top: 10px;
    margin-left: 50px;
	color: #808080;
}


