{% extends "pattern.html" %}


   {% block title %} Chat {% endblock %}
   {% block style %}
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/chat_style.css') }}">
       
   {% endblock %}

   {% block content%}

        <div class="wrapper">

            
            <div id="main-section">

                <!-- блок с комнатами -->
                <nav id="sidebar">
                    <h4>Комнаты</h4>
                    
                    <div class="select-room cursor-pointer">
                        <p id="default-room{{ current_user.id }}" class="default-room">Заметки</p>
                    </div>
                    {% if current_user.role == "Студент" %}
                        {% for room in rooms %}
                        <div class="select-room cursor-pointer">
                            <p id="{{ room[0].id }}" class="{{ room[0].user_to }}">{{ '{:.15}'.format(room[0].title) }} <br>
                            <span id="message" class="m{{ room[0].id }}"
                                {% if room[-1].isReaded == False %}
                                    style="font-weight:bold"
                                {% endif %}> 
                                {% if room[-1].you == True %}
                                <span class="you">Вы: </span>
                                {% endif %}
                                {{room[-1].content}}</span></p>
                        </div>
                        {% endfor %}
                    {% else %}
                        {% for room in rooms %}
                        <div class="select-room cursor-pointer">
                            <p id="{{ room[0].id }}" class="{{ room[0].user_from }}">{{ '{:.15}'.format(room[0].title) }} <br>
                            <span id="message" class="m{{ room[0].id }}"
                                {% if room[-1].isReaded == False %}
                                    style="font-weight:bold"
                                {% endif %}> 
                                {% if room[-1].you == True %}
                                <span class="you">Вы: </span>
                                {% endif %}

                                {{ room[-1].content }}</span></p>
                        </div>
                        {% endfor %}
                    {% endif %}
                        
                </nav>


                <div id="rightside-pannel">

                    <!-- сообщения -->
                    <div id="display-message-section">
                    </div>

                    <!-- отправка сообщений -->
                   <div id="input-area" class="input-group mb-3">
                        <div id="scroll"><textarea required type="text" id="user_message" class="form-control" placeholder="Введите сообщение" aria-label="Type a message" aria-describedby="basic-addon2" autocomplete="off"></textarea></div>
                        <div class="input-group-append">
                            <button id="send_message" class="btn btn-warning" type="button"> Отправить <i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <span hidden id="get-user">{{ user.id }}</span>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!--Это подключение переноса сторк в описании задачи-->
        <script src="http://www.jacklmoore.com/js/autosize.min.js"></script> <!--Это подключение переноса сторк в описании задачи-->
        <script>
            autosize($('textarea'));

        </script>


        <!-- нерабочий скрипт для отправки сообщений по энтер -->
        <script src="{{ url_for('static', filename='scripts/chat_page.js') }}"></script>

        <!-- SocketIO JS -->
        <script type="text/javascript"  src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <!-- сокет чата -->
        <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    {% endblock %}