{% extends "pattern.html" %}


{% block title %} Friends {% endblock %}

{% block style %}
   <link rel="stylesheet" href="{{ url_for('static', filename='style/friendstyle.css') }}">
{% endblock %} 

{% block content %}
   <div class="blok_fr" id="friends" style="width: 40vw;">
      {% if current_user.role == "Студент" %}
         <p id="zagolovki">Преподаватели</p>
      {% else %}
      <p id="zagolovki">Студенты</p>
      {% endif %}
      
      {% if friends %}
      {% for user in friends %} 
         <a href="/{{user.id}}">{{ user.name }}</a>
         <form method="post">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            {% if current_user.role == "Преподаватель" %}
            <input class="knopka" type="submit" value="Удалить" name="button">
            {% endif %}
         </form></br>
      {% endfor %}
      {% endif %}
   </div>
   {% if current_user.role == "Преподаватель" %}
      <div class="blok_fr" id="apply" style="width: 35vw;">
         <p id="zagolovki">Новые заявки</p>
         {% if apply.count() > 0  %}
         {% for user in apply %} 
            <a href="/{{user.id}}">{{ user.name }} </a>
            <form method="post">
               <input type="hidden" name="user_id" value="{{ user.id }}">
               <input class="knopka" type="submit" value="Добавить" name="button">  
               <input class="knopka" type="submit" value="Отклонить" name="button">
            </form></br>
         {% endfor %}
         {% else %}
            <p id="zayav">Заявки отсутствуют</p>
         {% endif %}
      </div>
   {% endif %}

{% endblock %}