{% extends "pattern.html" %}


   {% block title %} Task {% endblock %}
   {% block style%}
   <link rel="stylesheet" href="{{ url_for('static', filename='style/one_task.css') }}">
   {% endblock %}

   {% block content%}
        <div id='back'><a  href="/tasks">Вернутся назад</a></div>
        <div class="top_bottom" id="from" name="from">
            {% if current_user.role == "Студент" %}
                <p>Для кого: {{ user.name }} </p>
            {% else %}
                <p>От кого: {{ user.name }} </p>
            {% endif %}
        </div>
        <div class="top_bottom" id="title" name="title">
            <p>Тема {{ task.title }}</p>
        </div>
        <div class="top_bottom" id="text" name="text">
            <p>{{ task.text }}</p>
        </div>

        {% if file %}
            <div class="top_bottom" name="file_add"><span>Файл: </span><a id='file' href="/download/{{ task.id }}">скачать</a></div>
        {% endif %}

        {% if task.deadline_time != None %}
        <div class="top_bottom" name="deadline">{{ task.deadline_time.strftime('%d.%m.%Y')}}</div>
		{% endif %}

        {% if current_user.role == "Студент" %}
            <div class="top_bottom" id="status" name="status">
                <p>{{ task.status }}</p>
            </div>
        {% endif %}


            <form method="post">
            <input type="hidden" name="task_id" value="{{ task.id }}" name="update_task">
            {% if current_user.role == "Студент" %}
                {% if task.status == 'Не прочитано' %}
                    <input id="knopa_del" type="submit" value="Удалить" name="knop">
                {% endif %}
                <input type="submit" value="Поднять" name="knop" style="margin-top: 30px;">
            {% else %}
                <input type="submit" value="Выполнено" name="knop" style="margin-top: 30px;">
                <input type="submit" value="Отклонено" name="knop" style="margin-top: 30px;">
                <!--<select id="status" required class="js-select2" id="list_select" name="status" placeholder="Статус">
                    <option value="Прочитано">Прочитано</option> 
                    <option value="В работе">В работе</option> 
                    <option value="Выполнено">Выполнено</option> 
                    <option value="Не может быть выполнено">Отклонено</option>
                </select></br>
                <select id="status" required class="js-select2" id="list_select" name="user_to" placeholder="Статус">
                    <option disabled selected value="">Статус</option>
                    <option value="s1">Проверено</option>
                    <option value="s1">Отклонено</option>
                </select></br>
                <input type="submit" value="Сохранить" name="update_status" >-->
            {% endif %}
            </form>
        
      <!-- SocketIO JS -->
      <script type="text/javascript"  src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
      <script src="{{ url_for('static', filename='scripts/sock_script.js') }}"></script>

{% endblock %}