{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{title}} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel=”icon” href="{% static 'image/favicon.ico' %}" type=”image/x-icon”>
    <!--<link rel="icon" href="https://URL сайта/favicon.ico" type="image/x-icon">-->
    {% block style %}{% endblock %}
</head>

<body>
{% block mainmenu %}
   {% if current_user.is_authenticated %}
    <div id="menu">
		<img id="logo" src="{% static 'main/images/logo.png' %}">
        {% for m in menu %}
        <li><a href="{% url m.url_name %}"><img  id="m.id" src="{% static m.icon %}"></a></li>
        {% endfor %}

		<!--<a href="/profile"><img  id="profile" src="{{ url_for('static', filename='image/profile.png') }}"></a>
        a href="/friends"><img class="icon" src="{{ url_for('static', filename='image/friends.png') }}"></a>
        {% if current_user.role == "Студент" %}
        <a href="/create"><img class="icon" src="{{ url_for('static', filename='image/plus.png') }}"></a>
        {% endif %}
        <a href="/tasks"><img class="icon" src="{{% url 'home' %}}"></a>
		<a href="/chat"><img class="icon" src="{{ url_for('static', filename='image/chat.png') }}"></a>
		<a href="{{ url_for('auth.logout') }}"><img class="icon" src="{{ url_for('static', filename='image/logout.png') }}"></a>-->
	</div>
{% endblock mainmenu %}
    



	<!--<div id="cont">
        {% block content %}
        {% endblock %}

        <div id="cringe">
        {% with messages = get_flashed_messages() %}
	    {% if messages %}
            {% for message in messages%}
                <div class="notification">
                    <span class="closebtn">х</span>  
                    <p id="noti">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        </div>
    </div>
    {% endif %}-->


    

    <!--Закрытие окна-->
    <!--<script>
        var close = document.getElementsByClassName("closebtn");
        var i;
        
        for (i = 0; i < close.length; i++) {
            close[i].onclick = function(){
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function(){ div.style.display = "none"; }, 600);
            }
        }
    </script>-->


</body>

</html>