{% extends "pattern.html" %}
{% load static %}

   {% block title %} профиль {% endblock %}
   {% block style%}
   <link rel="stylesheet" href="{% static 'style/menuslyle.css' %}">
   <link rel="stylesheet" href="{% static 'style/profslyle.css' %}">
   {% endblock %}
<!--
   {% block content%}

		<div class="ava">
			<img id="ava" src="{% static 'image/profile_color.png' %}">
		</div>

		
		<div id="dano">
			<p  id="name">{{ user.name }}</p>
			<p class="dano">{{ user.email}}</p>
			<p class="dano">{{ user.role}}</p>
			{% if user.role == "Преподаватель" %}
				<p class="dano">Кафедра: {{ user.faculty }} </p>
			{% endif %}
			{% if user.role == "Студент"%}
				<p class="dano"> {{ user.course }} курс </p>
				<p class="dano">Группа: {{ user.group }}</p>
				<p class="dano">Факультет: {{ user.faculty }} </p>
			{% endif %}-->
			<!--{% if user.id != current_user.id%}
				<form method="post">
					<input class="knopka" id="knop" type="submit" value="Добавить" name="button">
					<input class="knopka" id="knop1" type="submit" value="Удалить" name="button">
				</form>
			{% endif %}-->
			
			
			<!--{% if current_user.role != user.role %}
				<form method="post">
				{% if follower %}
					{% if current_user.role == "Преподаватель" %}
						<input class="knopka" type="submit" value="Удалить" name="button">
					{% else %}
						<input class="knopka" type="submit" value="Создать таск" name="button">
					{% endif %}
				{% else %}
					{% if current_user.role == "Преподаватель" %}
						<input class="knopka" id="knop_stydy" type="submit" value="Добавить студента" name="button"> <!--Добавить студента -->
						<!--<input class="knopka" id="knop_stydy" type="submit" value="Отклонить" name="button">
					{% else %}
						<input class="knopka" type="submit" value="Добавить" name="button">  <!--Запрос на добавление-->
					<!--{% endif %}
				{% endif %}
				</form>
			{% endif %}


		</div>

		<p id="set">Настройки</p>

		<form id='form_set' method="post">
			<input id="pas" name="old_pass" type="password" placeholder="Введите старый пароль" required></br>
			<input id="pas" name="new_pass" type="password" placeholder="Введите новый пароль" required></br>
			<input class="knopka" id="knop_pass" type="submit" value="Сохранить" name="button">
		</form>

		<script>
			
			document.querySelector("#set").onclick = function(){
				document.querySelector("#form_set").style.display = 'block';
        		
			}

			
		</script>


      <!-- SocketIO JS -->
      <!--<script type="text/javascript"  src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
      <script src="{% static 'scripts/sock_script.js' %}"></script>

{% endblock %} -->
