{% load static %}
<!DOCTYPE html>
<html>
 <head>
    <title>авторизация</title>
    <meta charset="utf-8">
    <title>Vxod</title>
    <link rel="stylesheet" href="{% static 'static/style/vxodstyle.css' %}">
    
 </head>
 <body>
	<div id="podlog">
		<form method="post">
             {% csrf_token %}

            <div class="form-error">{{ form.non_field_errors }}</div>

                {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}

            <button type="submit">Войти</button>
        </form>
        
	</div>		
</body>
</html>