{% extends "pattern.html" %}


   {% block title %} Tasks {% endblock %}
   {% block style %}
   <link rel="stylesheet" href="{{ url_for('static', filename='style/taskstyle.css') }}">
   {% endblock %}

   {% block content%}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <div id="forma">

            <form>
                <input type="checkbox" class="custom-checkbox" id="deadline" name="field1" value="deadline">
                <label for="deadline" >срок сдачи</label>
                <input type="checkbox" id="library" class="custom-checkbox" name="field2" value="library">
                <label for="library">архив</label>
                <input type="submit" value="Сбросить" name="button" id="reset">
            </form>
        </div>

        <div id="deadline_tasks">
        {% for task in deadline_tasks %}
            <a href="tasks/{{ task[-1].id }}" ><div id="one">
                <p id="info">{{ task[0].name }} | {{ task[0].faculty }} | {{ task[-1].title }} | до {{ task[-1].deadline_time.strftime('%d.%m.%Y') }}</p><p id="stat">{{ task[-1].status }}</p>
            </div></a>
        {% endfor %}
        </div>

        <div class="unlimited_tasks">
            <div id="unlimited_tasks"></div>
        {% for task in unlimited_tasks %}
        <a href="tasks/{{ task[-1].id }}" ><div id="one">
            <p id="info">{{ task[0].name }} | {{ task[0].faculty }} | {{ task[-1].title }}</p><p id="stat"> {{ task[-1].status }}</p>
        </div></a>
        {% endfor %}
        </div>

        <div id="archived_tasks">
        {% for task in archived_tasks %}
            <a href="tasks/{{ task[-1].id }}" ><div id="one">
                <p id="info">{{ task[0].name }} | {{ task[0].faculty }} | {{ task[-1].title }}</p><p id="stat">Архив</p>
            </div></a>
        {% endfor %}
        <div>

    <!-- SocketIO JS -->
    <script type="text/javascript"  src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script src="{{ url_for('static', filename='scripts/task_script.js') }}"></script>

    <script>

        $('form').eq(0).on("change", function(e){ 
            $('input[name^=field]').each(function()
            { 
              if(e.target != this)
                this.checked = false; 
            });
        })
        
        $('form').eq(0).on('submit', function() {
             return $('input[name^=field]:checked:enabled').length == 1;
        });

        

        const checkbox = document.querySelectorAll(".custom-checkbox");

        checkbox.forEach((item) => {
          item.addEventListener('change', () => {
              let check = item.id
              console.log(check);
            if (check == 'deadline'){
                let unlim = document.querySelector(".unlimited_tasks");
                unlim.style.display = 'none';
                let arch = document.querySelector("#archived_tasks");
                arch.style.display = 'none';
                let dead = document.querySelector("#deadline_tasks");
                dead.style.display = 'block';
            } else if (check == 'library') {
                let unlim = document.querySelector(".unlimited_tasks");
                unlim.style.display = 'none';
                let dead = document.querySelector("#deadline_tasks");
                dead.style.display = 'none';
                let arch = document.querySelector("#archived_tasks");
                arch.style.display = 'block';
            }
          })
        });

        document.querySelector('#reset').onclick = () =>{
            let unlim = document.querySelector(".unlimited_tasks");
            unlim.style.display = 'block';
            let dead = document.querySelector("#deadline_tasks");
            dead.style.display = 'block';
            let arch = document.querySelector("#archived_tasks");
            arch.style.display = 'block';
        }

    </script>



   {% endblock %}