{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{title}} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel=”icon” href="{% static 'image/favicon.ico' %}" type=”image/x-icon”>
    <!--<link rel="icon" href="https://URL сайта/favicon.ico" type="image/x-icon">-->
    {% block style %}{% endblock %}
</head>

<body>
{% block mainmenu %}
  <!-- {% if current_user.is_authenticated %} -->
    <div id="menu">
		<img id="logo" src="{% static 'images/logo.png' %}">
        {% for m in menu %}
        <li><a href="{% url m.url_name %}"><img  id="m.id" src="{% static 'm.icon' %}"></a></li>
        {% endfor %}
        <!-- {% endif %} -->

	</div>
 <div>
        {% for m in menu %}
        <li><a href="{% url m.url_name %}"><img  id="m.id" src="{% static m.icon %}"></a></li>
        {% endfor %}
{% endblock mainmenu %}
 </div>






    

    <!--Закрытие окна-->
    <!--<script>
        var close = document.getElementsByClassName("closebtn");
        var i;
        
        for (i = 0; i < close.length; i++) {
            close[i].onclick = function(){
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function(){ div.style.display = "none"; }, 600);
            }
        }
    </script>-->


</body>

</html>